/* Variables */
:root {
  --primary-color: #ff6600;
  --secondary-color: #757575;
  --gray-color: #f5f5f5;
  --green-color: #229427;
  --dusty-gray-color: #ababab;
  --midnight-blue-color: #3b3e66;
  --stone-gray-color: #707070;
  --warning-color: #ff3f3f;
  /* --input-placeholder-color: #d1d3dd; */
  --light-peach: #fff4ec;
  --lign-blue: #eaeef6;

  --divider-line-color: #e8e8ed;
  --border-primary-color: #f5f5f5;
  --input-border-color: #e2e2e2;

  --header-box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.04);
  --card-box-shadow: 0px 0.83348px 9.16833px 0px rgba(0, 0, 0, 0.07);
  --card-box-shadow-hover: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

/* Fonts */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Custom resets */
html {
  font-size: max(14px, 1.111vw);
}
body {
  font-family: "OpenSans", sans-serif;
  font-size: 0.9375rem; /* 15px */
  color: var(--secondary-color);
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}

/* Text colors */
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}
.text-light-gray {
  color: var(--dusty-gray-color);
}
.text-midnight-blue {
  color: var(--midnight-blue-color);
}
.text-medium-gray {
  color: var(--stone-gray-color);
}
.text-warning {
  color: var(--warning-color) !important;
}

/* Background colors */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-gray {
  background-color: var(--gray-color) !important;
}
.bg-green {
  background-color: var(--green-color) !important;
}
.bg-light-peach {
  background-color: var(--light-peach);
}
.bg-light-blue {
  background-color: var(--lign-blue);
}

/* Font sizes */
.fs-12px {
  font-size: 0.781rem;
}
.fs-14px {
  font-size: 0.875rem;
}
.fs-15px {
  font-size: 0.9375rem;
}
.fs-16px {
  font-size: 1rem;
}
.fs-18px {
  font-size: 1.125rem;
}
.fs-22px {
  font-size: 1.375rem;
}
.fs-24px {
  font-size: 1.5rem;
}
.fs-26px {
  font-size: 1.625rem;
}
.fs-32px {
  font-size: 2rem;
}

/* Box shadows */
.custom-shadow {
  box-shadow: var(--card-box-shadow) !important;
}
.card-hover:hover {
  box-shadow: var(--card-box-shadow-hover) !important;
}

/* Borders */
.border-primary {
  border-color: var(--primary-color) !important;
}
.border-gray {
  border-color: var(--gray-color) !important;
}
.border-divider {
  border-color: var(--divider-line-color) !important;
}
.border-light-gray {
  border-color: var(--input-border-color) !important;
}
.border-dusty-gray {
  border-color: var(--dusty-gray-color) !important;
}
.border-thin {
  border-width: 0.053rem !important;
}
.box-border-radius {
  border-radius: 1.25rem;
}

/* Animations */
.scale-up {
  transition: transform 0.2s ease;
}
.scale-up:hover {
  transform: scale(1.075);
}

/* Radio button */
.input-radio:checked {
  box-shadow: 0px 0px 0px 0.0625rem var(--primary-color);
  background-color: var(--primary-color);
}
.input-radio {
  box-shadow: 0px 0px 0px 0.0625rem var(--input-border-color);
  border: 0.1875rem solid #fff;
  width: 1.354375rem;
  height: 1.354375rem;
  margin-right: 1.296875rem;
  background-clip: border-box;
  border-radius: 50%;
  appearance: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}
/* input */
input.custom-input {
  padding: 0.78125rem 1.0625rem !important;
}
input.custom-input::placeholder {
  color: var(--dusty-gray-color) !important;
}
input.custom-input:focus,
input.custom-input:focus ~ .input-group-text {
  border-color: var(--primary-color) !important;
}
/* Common styles */
.strikethrough {
  position: relative;
  display: inline-block;
}
.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 62%;
  border-top: 0.094rem solid var(--dusty-gray-color);
  transform: translateY(-50%);
}
.cursor-pointer {
  cursor: pointer;
}
.btn-lg {
  padding: 0.66875rem 1.5rem;
  min-height: 2.875rem;
}
.icon-sm {
  width: 1.125rem;
  height: 1.125rem;
}
.icon-md {
  width: 1.3125rem;
  height: 1.3125rem;
}
.playIcon {
  width: 1.5625rem;
  height: 1.5625rem;
}
.plusIcon {
  width: 0.875rem;
}
.minusIcon {
  width: 0.9375rem;
}
/* Custom styles */
.container-fluid {
  max-width: 120rem;
  padding: 0 4.375rem;
}
nav .container-fluid {
  padding: 0 3.75rem;
}
nav {
  box-shadow: var(--header-box-shadow);
  min-height: 5rem;
}
.navbar .nav-link.active {
  color: var(--primary-color) !important;
  font-weight: 700;
}
.navbar .nav-link:hover {
  color: var(--primary-color) !important;
}
.logo {
  width: 14.625rem;
}
.tab-content.recommended-spacing {
  margin-top: 2rem;
}
.billed-card {
  padding: 2.5525rem 0.625rem 1.825rem 0.625rem;
  border-radius: 0.625rem;
  position: relative;
}
.billed-card h3 {
  margin-bottom: 0.625rem;
}
.billed-card h4 {
  margin-bottom: 1.25rem;
}
.billed-card .gridImg {
  width: 6.25rem;
}
.billed-card ul {
  padding-left: 1.25rem;
}
.billed-card ul li::marker {
  font-size: 11px;
  height: 11px;
}
.billed-card .key-feature-divider-up {
  padding: 0 0.625rem;
}
.billed-card .key-feature-divider-up a {
  margin-bottom: 2.125rem;
}
.billed-card .key-feature-divider-down {
  padding: 2.125rem 0.625rem 0 0.625rem;
}
.billed-card .recommended {
  position: absolute;
  min-height: 2rem;
  top: -2rem;
  left: 0;
  border-radius: 0.625rem 0.625rem 0px 0px;
}
.pricing .nav.nav-pills {
  margin-top: 3.75rem;
  margin-bottom: 3.33375rem;
}
.pricing .nav.nav-pills .nav-item {
  width: 50%;
}
.pricing .nav.nav-pills .active label span {
  font-weight: 700;
}
.pricing .nav.nav-pills label span {
  min-width: 8.55rem;
}
.pricing {
  margin-bottom: 8.091875rem;
}
.registration,
.billing {
  margin: 5rem 0.625rem 3.375rem 0.625rem;
}
.registration > div:first-child,
.billing > div:first-child {
  padding: 2.4rem;
}
.registration > div:nth-child(2),
.billing > div:nth-child(2) {
  padding: 2.375rem 5.1875rem 2.75rem 3.375rem;
}
.add-ons {
  padding: 2rem 5.3125rem;
  margin-top: 5rem;
  margin-bottom: 6.625rem;
}
.add-ons .sub-header {
  margin-bottom: 4.0625rem;
}
.add-ons-card {
  border-radius: 0.75rem;
  padding: 3.125rem 1.875rem 3.125rem 1.75rem;
  margin-bottom: 2.8125rem;
}
.add-ons-card .gridImg {
  width: 7.625rem;
  margin-right: 1.25rem;
}
.add-ons-card .watch-video-btn {
  margin-top: 1.25rem;
}
.add-ons-card .feature-list {
  margin-top: 0.625rem;
}
.add-ons-card .feature-list .feature-item {
  padding: 0.625rem 0;
}
.add-ons-card .free-trial-period {
  padding-left: 2.875rem;
  width: 15rem;
}
.billing h5 {
  margin-bottom: 1.125rem;
}
.billing .selected-plan {
  padding: 0.75rem 1.25rem;
  border-radius: 0.625rem;
}
.billing .selected-plan .gridImg {
  width: 2.5rem;
}
.billing .label-width {
  min-width: 8.9375rem;
}
.billing .summary {
  padding-bottom: 1.875rem;
}
.billing .payment-method {
  padding-top: 1.875rem;
}
.billing .payment-method .cards {
  width: 18.0625rem;
}
.billing .payment-method .paypal {
  width: 5.125rem;
}
.billing .payment-method .nav.nav-pills {
  margin-top: 3.125rem;
  margin-bottom: 1.875rem;
}
.billing .payment-method .nav.nav-pills > div:first-child {
  padding-right: 1.3125rem;
}
.billing .payment-method .nav.nav-pills > div:nth-child(2) {
  padding-left: 1.3125rem;
}
.leads {
  padding: 4.625rem 0;
}
.leads > div {
  box-shadow: var(--header-box-shadow);
}
.leads .leadsImg {
  width: 27.4375rem;
}

/* modal */
.purchase-modal .modal-content {
  border-radius: 0.9375rem;
}
.purchase-modal .modal-body {
  padding: 2.5625rem 9.25rem;
}
.purchase-modal.modal-dialog.modal-lg {
  max-width: 43.75rem;
}
.purchase-modal .all-set {
  width: 9.8125rem;
}
/* Footer */
footer {
  padding-top: 3.375rem;
  font-feature-settings: "salt" on, "liga" off;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer ul li {
  padding: 0.4375rem 0;
}
footer .border-bottom {
  border-width: 0.09375rem !important;
}
footer .social-links div a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.46875rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.34);
}
footer .social-links div img {
  width: 1.0625rem;
  height: 1.0625rem;
}

/* Media queries */
@media (max-width: 1199px) {
  .add-ons {
    padding-left: 4.3125rem;
    padding-right: 4.3125rem;
  }
}
@media (max-width: 991px) {
  .pricing {
    margin-bottom: 3.091875rem;
  }
  .registration,
  .billing {
    margin-top: 3.375rem;
  }
  .registration > div:nth-child(2),
  .billing > div:nth-child(2) {
    padding-right: 3.375rem;
  }
  .btn-lg {
    /* padding-top: 0.46875rem;
    padding-bottom: 0.46875rem; */
    min-height: auto;
  }
  .add-ons-card .border-end {
    border-right: none !important;
    border-bottom: 1px solid;
  }
  .add-ons-card .free-trial-period {
    padding-left: 0;
    width: auto;
  }
  .add-ons-card .gridImg {
    width: 6.625rem;
  }
  .add-ons .sub-header {
    margin-bottom: 3.0625rem;
  }
  .purchase-modal.modal-dialog.modal-lg {
    max-width: 500px;
  }
  .purchase-modal .modal-body {
    padding: 2.5625rem 5.25rem;
  }
  .leads {
    padding: 3.625rem 0;
  }
  .leads h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .container-fluid,
  nav .container-fluid {
    padding: 0 1.6375rem;
  }
  .pricing .nav.nav-pills {
    margin-top: 2.75rem;
    margin-bottom: 2.33375rem;
  }
  .pricing {
    margin-bottom: 2.091875rem;
  }
  .pricing .nav.nav-pills label span {
    min-width: 7rem;
  }
  .scale-up:hover {
    transform: scale(1.025);
  }
  .registration,
  .billing {
    margin-top: 2.26rem;
  }
  .registration > div:first-child,
  .billing > div:first-child {
    padding: 1.4rem;
  }
  .registration h3,
  .billing h3 {
    font-size: 1.25rem;
  }
  .box-border-radius {
    border-radius: 0.825rem;
  }
  .add-ons {
    padding-left: 2.3125rem;
    padding-right: 2.3125rem;
  }
  .add-ons-card {
    padding: 2.125rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 1.8125rem;
  }
  .add-ons .sub-header {
    margin-bottom: 2.0625rem;
  }
  .billing .label-width {
    min-width: 6.9375rem;
  }
  .billing .payment-method .nav.nav-pills > div:first-child {
    padding-right: 1rem;
  }
  .billing .payment-method .nav.nav-pills > div:nth-child(2) {
    padding-left: 1rem;
  }
  .purchase-modal .all-set {
    width: 7.8125rem;
  }
}
@media (max-width: 575px) {
  .pricing .nav.nav-pills .nav-item {
    width: 100%;
  }
  .pricing .nav.nav-pills {
    margin-top: 2.75rem;
    margin-bottom: 1rem;
  }
  .pricing .nav.nav-pills label span {
    min-width: 9rem;
  }
  .input-radio {
    margin-right: 0.9rem;
  }
  .billed-card {
    padding-top: 1.7525rem;
  }
  .registration > div:first-child,
  .billing > div:first-child {
    padding: 1.4rem 0.875rem;
  }
  .registration h3,
  .billing h3 {
    font-size: 1rem;
  }
  .registration > div:nth-child(2),
  .billing > div:nth-child(2) {
    padding: 1.375rem;
  }
  .registration,
  .billing {
    margin-left: 0;
    margin-right: 0;
  }
  .add-ons {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin: 2.75rem 0;
  }
  .add-ons h3,
  .add-ons h4 {
    font-size: 1.125rem;
  }
  .add-ons-card .gridImg {
    width: 5.625rem;
  }
  .billing .label-width,
  .billing .label-sm-width {
    min-width: 8.9375rem;
  }
  .billing .payment-method .nav.nav-pills > div:first-child,
  .billing .payment-method .nav.nav-pills > div:nth-child(2) {
    padding: 0;
  }
  .purchase-modal.modal-dialog.modal-lg {
    max-width: none;
  }
  .purchase-modal .modal-body {
    padding: 2.5625rem 2.25rem;
  }
}
