/* Variables */
:root {
  --primary-color: #ff6600;
  --secondary-color: #757575;
  --grey-color: #f5f5f5;
  --green-color: #229427;
  --light-grey-color: #fafafa;
  --dusty-gray-color: #ababab;
  --midnight-blue-color: #3c3f66;
  --yellow-color: #fad75b;
  /* --stone-gray-color: #707070; */
  /* --warning-color: #ff3f3f; */
  /* --input-placeholder-color: #d1d3dd; */
  --light-peach: #fff4ec;
  --light-blue: #eaeef6;

  /* --divider-line-color: #e8e8ed; */
  --border-light-gray: #f5f5f7;
  --border-primary-color: #e8e8ed;
  --input-border-color: #e2e2e2;

  /* --header-box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.04); */
  --card-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  --card-box-shadow-primary: 0px 4px 17px 0px rgba(0, 0, 0, 0.04);
  --card-box-shadow-hover: 0px 2px 15px 0px rgba(0, 0, 0, 0.15);
}

/* Fonts */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Custom resets */
html {
  font-size: max(14px, 0.833vw);
}
body {
  font-family: "OpenSans", sans-serif;
  font-size: 0.875rem; /* 14px */
  color: black;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}

/* Background colors */
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-green {
  background-color: var(--green-color) !important;
}
.bg-grey {
  background-color: var(--grey-color) !important;
}
.bg-light-grey {
  background-color: var(--light-grey-color) !important;
}
.bg-yellow {
  background-color: var(--yellow-color) !important;
}
.bg-light-peach {
  background-color: var(--light-peach) !important;
}
.bg-light-blue {
  background-color: var(--light-blue) !important;
}

/* Text color */
.text-midnight-blue {
  color: var(--midnight-blue-color);
}
.text-dusty-gray {
  color: var(--dusty-gray-color);
}
.text-green {
  color: var(--green-color) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}

/* Borders */
.border-primary {
  border-color: var(--border-primary-color) !important;
}
.border-light-gray {
  border-color: var(--border-light-gray) !important;
}
.border-input {
  border-color: var(--input-border-color) !important;
}
.border-orange {
  border-color: var(--primary-color) !important;
}

/* input */
input.custom-input {
  padding: 0.78125rem 1.0625rem !important;
}
input.custom-input::placeholder {
  color: var(--dusty-gray-color) !important;
}
input.custom-input:focus,
input.custom-input:focus ~ .input-group-text {
  border-color: var(--primary-color) !important;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"] {
  font-size: 0.875rem;
}

/* Radio button */
.input-radio:checked {
  box-shadow: 0px 0px 0px 0.0625rem var(--primary-color);
  background-color: var(--primary-color);
}
.input-radio {
  box-shadow: 0px 0px 0px 0.0625rem var(--input-border-color);
  border: 0.25rem solid #fff;
  width: 1.625rem;
  height: 1.625rem;
  margin-right: 1.296875rem;
  background-clip: border-box;
  border-radius: 50%;
  appearance: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Box shadows */
.custom-shadow {
  box-shadow: var(--card-box-shadow) !important;
}
.custom-shadow-primary {
  box-shadow: var(--card-box-shadow-primary) !important;
}
.card-hover:hover {
  box-shadow: var(--card-box-shadow-hover) !important;
}

/* Font sizes */
.fs-12px {
  font-size: 0.781rem;
}
.fs-15px {
  font-size: 0.9375rem;
}
.fs-16px {
  font-size: 1rem;
}
.fs-18px {
  font-size: 1.125rem;
}
.fs-24px {
  font-size: 1.5rem;
}
.fs-26px {
  font-size: 1.625rem;
}
.fs-32px {
  font-size: 2rem;
}
.fs-34px {
  font-size: 2.125rem;
}
.fs-36px {
  font-size: 2.25rem;
}

/* Animations */
.scale-up {
  transition: transform 0.2s ease;
}
.scale-up:hover {
  transform: scale(1.075);
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.6875rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e8e8ed;
  border-radius: 0.9375rem;
}
/* common */
.strikethrough {
  position: relative;
  display: inline-block;
}
.strikethrough::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 62%;
  border-top: 0.094rem solid var(--dusty-gray-color);
  transform: translateY(-50%);
}
.container-fluid {
  max-width: 120rem;
}
.sidebar-space {
  padding-left: 6.25rem;
  padding-top: 5.125rem;
}
.plus-icon {
  width: 0.75rem;
}
.btn {
  border-radius: 0.1875rem;
}
.btn-lg {
  padding: 0.75rem 1.75rem;
  min-height: 2.9375rem;
}
.btn-sm {
  padding: 0.25rem 1.28125rem;
  min-height: 2.0625rem;
}
.custom-select.form-select:focus {
  border-color: var(--primary-color);
}
.custom-select.form-select {
  border-color: var(--input-border-color);
  color: black;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.90625rem 2.25rem 0.90625rem 1.0625rem;
  background-image: url(../images/arrow-down.svg);
  background-position: right 1.1875rem center;
  min-width: 7.6875rem;
  background-size: 0.75rem 0.75rem;
}
.cursor-pointer {
  cursor: pointer;
}
.icon-lg {
  width: 1.875rem;
}
.rounded-7 {
  border-radius: 0.4375rem;
}

/* modal */
.purchase-modal .modal-content {
  border-radius: 0.9375rem;
}
.purchase-modal .modal-body {
  padding: 2.5625rem 10.25rem;
}
.purchase-modal.modal-dialog.modal-lg {
  max-width: 36.1875rem;
}
.purchase-modal .success {
  width: 12.4375rem;
}

/* billing */
.billing-dashboard {
  padding: 5.0625rem 1.8125rem 2.75rem 2.875rem;
}
.billing-dashboard > div {
  padding: 3.125rem 2.5rem;
  border-radius: 0.4375rem;
}
.billing-dashboard .box-heading {
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}
.billing-dashboard .card-details-list {
  padding: 0 2.5rem;
  max-height: 24.875rem;
  overflow: auto;
}
.billing-dashboard .card-details {
  padding: 1rem 2.375rem 1rem 1.25rem;
  margin-bottom: 1.4375rem;
  min-height: 7rem;
}
.billing-dashboard .box-radius {
  border-radius: 0.4375rem 0.4375rem 0 0;
}
.billing-dashboard .card-img {
  width: 7.0625rem;
}
.billing-dashboard .your-subscription {
  padding: 1.25rem 3.4375rem;
}
.billing-dashboard .billing-history {
  margin-top: 2.5625rem;
}
.billing-dashboard .billing-history .billing-history-table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 0.875rem;
}
.billing-dashboard .billing-history .billing-history-table img {
  width: 1.75rem;
}
.billing-dashboard .billing-history .billing-history-table tr th,
.billing-dashboard .billing-history .billing-history-table tr:not(.toggle-dropdown) td {
  border-top: 0.0625rem solid var(--border-primary-color);
}
.billing-dashboard .billing-history .billing-history-table tr td:not(.active) img {
  transform: rotate(180deg);
}
.billing-dashboard .billing-history .billing-history-table tr:nth-last-child(2) td {
  border-bottom: 0.0625rem solid var(--border-primary-color);
}
.billing-dashboard .billing-history .billing-history-table tr:first-child th:first-child {
  border-top-left-radius: 0.4375rem;
}
.billing-dashboard .billing-history .billing-history-table tr:first-child th:last-child {
  border-top-right-radius: 0.4375rem;
}
.billing-dashboard .billing-history .billing-history-table tr td:first-child,
.billing-dashboard .billing-history .billing-history-table tr th:first-child {
  border-left: 0.0625rem solid var(--border-primary-color);
}
.billing-dashboard .billing-history .billing-history-table tr td:last-child,
.billing-dashboard .billing-history .billing-history-table tr th:last-child {
  border-right: 0.0625rem solid var(--border-primary-color);
}
.billing-dashboard .billing-history .billing-history-table tr th {
  padding: 1.3125rem 1.625rem;
  background-color: var(--light-grey-color);
  vertical-align: middle;
}
.billing-dashboard .billing-history .billing-history-table tr td {
  padding: 1.5625rem 1.625rem;
  vertical-align: middle;
}

/* Billing details */
.billing-details {
  /* margin: 2.625rem 0; */
  border-radius: 0.4375rem;
  max-width: 58.1875rem;
}
.billing-details .navigation,
.subscription .navigation {
  padding: 2.5rem 2.3125rem 3.4rem 2.3125rem;
}
.billing-details .navigation ~ div {
  padding: 2rem 0;
}
.subscription .navigation ~ div {
  padding: 3rem 0;
}
.billing-details .navigation li,
.subscription .navigation li {
  position: relative;
  min-width: 7.5rem;
}
.billing-details .navigation ul,
.subscription .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.billing-details .circle,
.subscription .circle {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #d9d9d9;
  width: 3.1875rem;
  height: 3.1875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.billing-details .circle img,
.subscription .circle img {
  width: 1.5rem;
}
.billing-details .circle.active,
.subscription .circle.active {
  background-color: var(--green-color);
}
.billing-details .circle ~ p,
.subscription .circle ~ p {
  color: var(--secondary-color);
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.8125rem;
}
.billing-details .circle.active ~ p,
.subscription .circle.active ~ p {
  color: var(--green-color);
  font-weight: 700;
}
.billing-details .circle.active.prev ~ p,
.subscription .circle.active.prev ~ p {
  font-weight: 400;
}
.billing-details .progress,
.subscription .progress {
  position: absolute;
  width: calc(100% - 4.6875rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey-color);
  height: 0.9375rem;
}
.billing-details #billing-contact,
.billing-details #billing-address,
.billing-details #payment-method,
.subscription #trial-expired,
.subscription #choose-plan,
.subscription #select-add-ons,
.subscription #add-billing-details,
.subscription #confirm-purchase {
  padding: 0 2.8125rem;
}
.subscription .row #trial-expired {
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.subscription .chat-container {
  height: 90px;
  width: 90px;
}
.subscription .chat-logo {
  height: 45px;
  width: 45px;
  left: 22px;
  top: 22px;
}
.billing-details form .row,
.subscription form .row,
.edit-card form .row {
  margin-bottom: 1.8125rem;
}
.billing-details .btn {
  min-width: 8.6875rem;
}
.billing-details .paypal,
.subscription .paypal,
.edit-card .paypal {
  width: 5.125rem;
}
.billing-details .cards,
.subscription .cards,
.edit-card .cards {
  width: 18.0625rem;
}
.billing-details #payment-method .nav.nav-pills {
  margin-bottom: 2.875rem;
}
.billing-details #payment-method .card-hover,
.subscription #add-billing-details .card-hover,
.edit-card .card-hover {
  padding-left: 2rem;
}

/* Subscription */

.subscription {
  border-radius: 0.4375rem;
  padding: 0 2.625rem;
}
.outer-space {
  padding: 2.625rem 0;
}
.subscription .waving-hand {
  width: 10.5625rem;
  margin-right: 3.3125rem;
}
.tab-content.recommended-spacing {
  margin-top: 2rem;
}
.billed-card {
  padding: 2.5525rem 1.5rem 1.825rem 1.5rem;
  border-radius: 0.625rem;
  position: relative;
}
.billed-card h3 {
  margin-bottom: 0.625rem;
}
.billed-card h4 {
  margin-bottom: 1.25rem;
}
.billed-card .gridImg {
  width: 6.25rem;
}
.billed-card ul {
  padding-left: 1.25rem;
}
.billed-card ul li::marker {
  font-size: 11px;
  height: 11px;
}
.billed-card .key-feature-divider-up {
  padding: 0 0.625rem;
}
.billed-card .key-feature-divider-up a {
  margin-bottom: 2.125rem;
}
.billed-card .key-feature-divider-down {
  padding: 2.125rem 0.625rem 0 0.625rem;
}
.billed-card .recommended {
  position: absolute;
  min-height: 2rem;
  top: -2rem;
  left: 0;
  border-radius: 0.625rem 0.625rem 0px 0px;
}
.pricing .nav.nav-pills {
  margin-top: 0.9375rem;
  margin-bottom: 3.75rem;
  max-width: 49.625rem;
}
.pricing .nav.nav-pills .nav-item {
  width: 50%;
}
.pricing .nav.nav-pills .active label span {
  font-weight: 700;
}
.pricing .nav.nav-pills label .tab-name {
  min-width: 8.55rem;
}
/* .pricing {
  margin-bottom: 8.091875rem;
} */
.add-ons .sub-header {
  margin-bottom: 4.0625rem;
}
.subscription .account-review-needed {
  border-radius: 26px;
}
.add-ons-card {
  border-radius: 0.75rem;
  padding: 3.125rem 1.875rem 3.125rem 1.75rem;
  margin-bottom: 2.8125rem;
}
.add-ons-card .gridImg {
  width: 7.625rem;
  margin-right: 1.25rem;
}
.add-ons-card .watch-video-btn {
  margin-top: 1.25rem;
}
.add-ons-card .feature-list {
  margin-top: 0.625rem;
}
.add-ons-card .feature-list .feature-item {
  padding: 0.625rem 0;
}
.add-ons-card .free-trial-period {
  padding-left: 2.875rem;
  width: 15rem;
}
.add-ons-card .btn {
  min-width: 10.5625rem;
}
.subscription #add-billing-details .heading,
.edit-card .heading {
  padding: 2.1875rem 3.375rem 1.8125rem 3.375rem;
  margin-bottom: 2.6875rem;
}
.subscription #confirm-purchase .success {
  width: 19.4375rem;
  margin-bottom: 6.125rem;
  margin-top: 3.25rem;
}
/* Media queries */
@media (max-width: 1440px) {
  .billing-dashboard .card-img {
    width: 5.0625rem;
  }
  .billing-dashboard .your-subscription {
    padding: 1.25rem 2.4375rem;
  }
  .billing-dashboard .card-details-list {
    padding: 0 1.5rem;
  }
  .billing-dashboard {
    padding-top: 4.0625rem;
  }
  .billing-details {
    max-width: none;
  }
}
@media (max-width: 1350px) {
  .billing-dashboard .card-img {
    width: 4.0625rem;
  }
  .billing-dashboard .billing-history .billing-history-table tr td {
    padding: 1.5625rem 1.325rem;
  }
  .billing-dashboard .billing-history .billing-history-table tr th {
    padding: 1.3125rem 1.325rem;
  }
  .billing-dashboard {
    padding: 4.0625rem 1.5rem 2.75rem 1.5rem;
  }
  .billing-dashboard > div {
    padding: 2.125rem 1.5rem;
  }
  .subscription .strikethrough {
    font-size: 1.4rem;
  }
  .billed-card {
    padding: 2.5525rem 1rem 1.825rem 1rem;
  }
}
@media (max-width: 1199px) {
  .sidebar-space {
    padding-left: 0;
  }
  .btn-lg {
    padding: 0.45rem 0.95rem;
    min-height: 1.9375rem;
  }
  .subscription {
    padding: 0 1.25rem;
  }

  .billing-details #billing-contact,
  .billing-details #billing-address,
  .billing-details #payment-method,
  .subscription #trial-expired,
  .subscription #choose-plan,
  .subscription #select-add-ons,
  .subscription #add-billing-details,
  .subscription #confirm-purchase {
    padding: 0 2rem;
  }
}
@media (max-width: 991px) {
  .billing-dashboard {
    padding-top: 3.0625rem;
  }
  .billing-dashboard .billing-history .billing-history-table tr td {
    padding: 1.5625rem 0.66rem;
  }
  .billing-dashboard .billing-history .billing-history-table tr th {
    padding: 1.3125rem 0.66rem;
  }
  .add-ons-card .border-end {
    border-right: none !important;
    border-bottom: 1px solid;
  }
  .add-ons-card .free-trial-period {
    padding-left: 0;
    width: auto;
  }
  .add-ons-card .gridImg {
    width: 6.625rem;
  }
  .add-ons-card {
    padding: 2.125rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 1.8125rem;
  }
  .add-ons .sub-header {
    margin-bottom: 3.0625rem;
  }
  .subscription h4.fs-32px {
    font-size: 1.4rem;
  }
  .subscription h3.fs-36px,
  .subscription #trial-expired h4.fs-36px {
    font-size: 1.8rem;
  }
  .edit-card .heading {
    padding: 2.1875rem 1.5rem 1.8125rem 1.5rem;
  }
  .subscription .strikethrough {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .billing-dashboard {
    padding: 2rem 0.5rem 2.75rem 0.5rem;
  }
  .billing-dashboard > div {
    padding: 1.375rem 1.1875rem;
  }
  .billing-dashboard .box-heading {
    padding: 1.4375rem 1.3125rem;
  }
  .btn-lg {
    padding: 0.6rem 1.75rem;
    min-height: 2.9375rem;
  }
  .billing-dashboard .card-details {
    padding: 1.5625rem 1.125rem 1.5625rem 1.25rem;
    margin-bottom: 1.125rem;
    min-height: auto;
    border-radius: 0.5625rem;
  }
  .billing-dashboard .card-img {
    width: 4.4375rem;
  }
  .billing-dashboard .your-subscription {
    padding: 1.25rem 1.75rem;
  }
  .scale-up:hover {
    transform: scale(1.025);
  }
  .billing-dashboard .billing-history .billing-history-table tr th:not(:nth-child(1)):not(:nth-child(2)),
  .billing-dashboard .billing-history .billing-history-table tr td:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
  }
  .billing-dashboard .billing-history .billing-history-table tr:first-child th:nth-child(2) {
    border-top-right-radius: 0.4375rem;
  }
  .billing-dashboard .billing-history .billing-history-table tr td:nth-child(2),
  .billing-dashboard .billing-history .billing-history-table tr th:nth-child(2) {
    border-right: 0.0625rem solid var(--border-primary-color);
  }
  .billing-dashboard .billing-history .billing-history-table tr td {
    padding: 1.1875rem 1.325rem;
  }
  .billing-dashboard .billing-history .billing-history-table tr:last-child td {
    border-bottom: 0.0625rem solid var(--border-primary-color);
  }
  .billing-dashboard .billing-history .billing-history-table tr:nth-last-child(2) td {
    border-bottom: none;
  }
  .billing-details #billing-contact,
  .billing-details #billing-address,
  .billing-details #payment-method,
  .subscription #trial-expired,
  .subscription #choose-plan,
  .subscription #select-add-ons,
  .subscription #add-billing-details,
  .subscription #confirm-purchase {
    padding: 1.3rem;
  }
  .subscription .row #trial-expired {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
  .billing-details .navigation,
  .subscription .navigation {
    padding: 1.3rem 1.3rem 2.8rem 1.3rem;
  }
  .billing-details .circle,
  .subscription .circle {
    font-size: 0.875rem;
    width: 2.3125rem;
    height: 2.3125rem;
  }
  .billing-details .circle img,
  .subscription .circle img {
    width: 1.1rem;
  }
  .billing-details .progress,
  .subscription .progress {
    height: 0.4375rem;
  }
  .billing-details .circle ~ p,
  .subscription .circle ~ p {
    font-size: 0.75rem;
  }
  .billing-details #payment-method .card-hover,
  .subscription #add-billing-details .card-hover,
  .edit-card .card-hover {
    padding-left: 1rem;
  }
  .subscription .navigation ~ div {
    padding: 1.5rem 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="url"],
  input[type="tel"] {
    font-size: 1.02rem;
  }
  .pricing .nav.nav-pills .nav-item {
    width: 100%;
  }
  .pricing .nav.nav-pills {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .pricing .nav.nav-pills label .tab-name {
    min-width: 9rem;
  }
  .pricing {
    margin-bottom: 2.091875rem;
  }
  .subscription {
    padding: 0 0.35rem;
  }
  .outer-space {
    padding: 2rem 0;
  }
  .add-ons .sub-header {
    margin-bottom: 2.0625rem;
  }
  .subscription #add-billing-details .heading,
  .edit-card .heading {
    padding: 2.1875rem 2rem 1.8125rem 2rem;
  }
  .subscription .waving-hand {
    width: 7.5625rem;
    margin-right: 0;
  }
  .billing-details .navigation li,
  .subscription .navigation li {
    min-width: 5.5rem;
  }
  .subscription .navigation li {
    min-width: auto;
  }
}
@media (max-width: 575px) {
  .subscription #add-billing-details .heading,
  .edit-card .heading {
    padding: 2.1875rem 1.5rem 1.8125rem 1.5rem;
    margin-bottom: 1.6875rem;
  }
  .subscription #confirm-purchase .success {
    width: 12.4375rem;
    margin-bottom: 3.125rem;
    margin-top: 1.25rem;
  }
  .subscription .border-custom-none {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
}
@media (max-width: 430px) {
  html {
    font-size: max(13.5px, 3.721vw);
  }
}
@media (max-width: 375px) {
  .billing-dashboard .card-img {
    width: 3rem;
  }
}
