/* Point Of Sale Modal  */

.pointOfSale-modal .modal-content,
.addCustomServices-modal .modal-content,
.invoiceOptions-modal .modal-content {
  border-radius: 1.25rem;
}
.pointOfSale-modal.modal-dialog.modal-lg {
  max-width: 59.1875rem;
}
.pointOfSale-modal .modal-body .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: var(--secondary-color);
  padding: 0.76875rem 1.21875rem;
  min-width: 8.75rem;
  border-radius: 0.375rem 0.375rem 0 0;
}
.pointOfSale-modal .modal-body .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
}
.pointOfSale-modal .modal-content .modal-header {
  padding: 1.75rem 2.3125rem;
}
.pointOfSale-modal .modal-content .modal-body .nav-tabs {
  padding: 0 2.3125rem;
}
.pointOfSale-modal .modal-content .modal-body .tab-pane > * {
  padding: 3.125rem 3.4375rem;
}
.pointOfSale-modal .modal-content .modal-body form > .row {
  margin-bottom: 1.8125rem;
}
.pointOfSale-modal .modal-content .modal-body form > .row .col-md-3 {
  max-width: 11.5625rem;
}
.pointOfSale-modal .modal-content .modal-body .phone {
  width: 3.625rem;
}
.pointOfSale-modal .modal-content .modal-body .total > div {
  padding: 1.25rem 2.25rem;
}

/* Add Custom Services Modal */
.addCustomServices-modal.modal-dialog.modal-lg {
  max-width: 46.3125rem;
}
.addCustomServices-modal .modal-header {
  padding: 1.75rem 2.1875rem;
}
.addCustomServices-modal .modal-body > * {
  padding: 2.5rem 3.375rem;
}
.addCustomServices-modal .modal-content .modal-body form > .row {
  margin-bottom: 1.8125rem;
}

/* Invoice Options Modal */
.invoiceOptions-modal.modal-dialog.modal-lg {
  max-width: 47rem;
}
.invoiceOptions-modal .modal-header {
  padding: 1.75rem 2.1875rem;
}
.invoiceOptions-modal .modal-body > * {
  padding: 2.1875rem 3.375rem 1.5625rem 3.375rem;
}
.invoiceOptions-modal .invoice-card {
  padding: 1.5rem 0.625rem;
  border-radius: 0.5rem;
}
.invoiceOptions-modal .modal-body .invoice-card img {
  width: 3.25rem;
}

/* custom select */
.select-menu .select-btn {
  display: flex;
  padding: 0.5625rem 1.0625rem;
  border-radius: 0.25rem;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.select-menu .custom-dropdown {
  padding: 0.78125rem 1.0625rem;
}
.select-menu .options {
  padding: 1.3rem 1.0625rem;
  border-radius: 0.5rem;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  cursor: pointer;
  padding: 0 1rem;
  align-items: center;
}
.select-btn .arrow-down {
  font-size: 1.5625rem;
  transition: 0.3s;
  width: 0.75rem;
}

.select-menu.active .select-btn .arrow-down {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  z-index: 10;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}
.left-border-design li .select-btn {
  position: relative;
}
.left-border-design li .select-btn::before {
  content: "";
  border-top: 0.0625rem solid var(--input-border-color);
  display: block;
  width: 1.25rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.left-border-design li .center_border_left {
  position: absolute;
  border-left: 0.0625rem solid var(--input-border-color);
  top: 0;
  height: 100%;
}
.left-border-design li:nth-of-type(1) .center_border_left {
  top: 2.40625rem;
}
.left-border-design li:nth-last-of-type(1) .center_border_left {
  top: 0;
  height: 50%;
}
.left-border-design .option .select-menu .arrow-down {
  transform: rotate(-90deg);
}
.left-border-design .option .select-menu.active .arrow-down.roated-180deg {
  transform: rotate(-180deg);
}
.left-border-design li:last-child .center_border_left {
  height: 2.35625rem;
}
.pointOfSale-modal .phone-name {
  padding: 0.5625rem 1.0625rem;
}
.pointOfSale-modal .modal-content .modal-body .left-border-design .phone {
  margin-left: 1.25rem;
}
.modal.custom-class {
  z-index: 102;
}

/* customer-search */
.pointOfSale-modal .customer-search ul {
  list-style: none;
  max-height: 21.625rem;
  overflow: auto;
}
.pointOfSale-modal .customer-search ul li {
  padding: 0.9375rem 1.825rem;
}
.pointOfSale-modal .customer-search ul li:hover,
.pointOfSale-modal .customer-search ul li.active {
  background-color: #ff660017;
}
.pointOfSale-modal .customer-search .search-input {
  padding: 0 1.825rem;
}
.pointOfSale-modal .select-menu .customer-search.options {
  padding: 1.3rem 0;
  background-color: #fff;
}

@media (max-width: 1440px) {
}
@media (max-width: 1350px) {
}
@media (max-width: 1199px) {
  .sidebar-space {
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .pointOfSale-modal .modal-content .modal-body .tab-pane > * {
    padding: 2.125rem 2.3125rem;
  }
}
@media (max-width: 767px) {
  .pointOfSale-modal textarea {
    min-height: 10rem;
  }
  .addCustomServices-modal .modal-body > *,
  .invoiceOptions-modal .modal-body > * {
    padding: 2rem 2.7rem;
  }
  #selected-customer,
  #selected-phone {
    font-size: 1.143rem;
  }
}
@media (max-width: 575px) {
}
@media (max-width: 430px) {
  .pointOfSale-modal .modal-content .modal-body .nav-tabs,
  .pointOfSale-modal .modal-content .modal-header,
  .addCustomServices-modal .modal-header,
  .invoiceOptions-modal .modal-header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .pointOfSale-modal .modal-content .modal-body .tab-pane > * {
    padding: 2rem 2rem 2rem 2.7rem;
  }
  .pointOfSale-modal .modal-content .modal-body form > .row,
  .addCustomServices-modal .modal-content .modal-body form > .row {
    margin-bottom: 1.4125rem;
  }
  .pointOfSale-modal #add-more {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 429px) {
  .pointOfSale-modal .modal-content .modal-body .tab-pane > *,
  .addCustomServices-modal .modal-body > * {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .select-menu .options {
    padding: 1rem;
  }
  .pointOfSale-modal .modal-content .modal-body .phone {
    width: 2.625rem;
  }
  .left-border-design li:nth-of-type(1) .center_border_left {
    top: 1.88rem;
  }
}
@media (max-width: 375px) {
}
